<div class="row">
    <div class="col-lg-10 col-lg-offset-1" id="page_api1" style="display: none;">
        <div id="contents">

            <div class="con_area">

                <div class="bg_area ng-scope" align="center">
                    <h3>한국어 개념 그래프 추출기</h3>
                    <a href="http://irel.kaist.ac.kr:8100/api/v1/kcg"><button type="button" class="btn btn-primary btn-lg">API</button></a>
                    <a href="https://github.com/kyoungrok0517/exobrain-api"><button type="button" class="btn btn-danger btn-lg">소스코드</button></a>
                </div>

                <tbody class="writing">
                <p>
                </p>
                <p>
                            <span
                                    style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 12pt;">◆ </span>
                    <strong><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 12pt;">SW 정보</span></strong>
                </p>
                <p style="line-height: 1.8;">
                    <table class="__se_tbl"
                           style="border-width: 1px 1px 0px 0px; border-style: solid solid none none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor currentColor; border-image: none; width: 100%"
                           border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                <p align="center" style="text-align: center;"><strong><span
                        style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">언어</span></strong>
                </p>
                </td>
                <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                    <p align="center" style="text-align: center;"><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">Python</span>
                    </p></td>
                </tr><tr>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                        <p align="center" style="text-align: center;"><strong><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">입력</span></strong>
                        </p>
                    </td>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                        <p align="center" style="text-align: center;"><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">text</span>
                        </p></td>
                </tr><tr>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                        <p align="center" style="text-align: center;"><strong><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">출력</span></strong>
                        </p>
                    </td>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                        <p align="center" style="text-align: center;"><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">text</span>
                        </p></td>
                </tr><tr>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                        <p align="center" style="text-align: center;"><strong><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">기능</span></strong>
                        </p>
                    </td>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                        <p align="center" style="text-align: center;"><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">자연어 문장에 대한 개념 개체 추출 수행</span>
                        </p></td>
                </tr>
                </tbody>
                </table>
                </p>
                <p><br></p>
                <p><span
                        style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 12pt;">◆ </span><strong><span
                        style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 12pt;">입출력 예</span></strong>
                </p>
                <p><strong></strong></p>

                <p style="line-height: 1.8;">
                    <table class="__se_tbl"
                           style="border-width: 1px 1px 0px 0px; border-style: solid solid none none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor currentColor; border-image: none; width: 100%"
                           border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                <p align="center" style="text-align: center;"><strong><span
                        style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">입력 예</span></strong>
                </p>
                </td>
                <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                    <p align="center" style="text-align: center;"><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">지미 카터는 조지아주 섬터 카운티 플레인스 마을에서 …</span>
                    </p></td>
                </tr><tr>
                <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                    <p align="center" style="text-align: center;"><strong><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">출력 예</span></strong>
                    </p>
                </td>
                <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                    <p align="center" style="text-align: center;"><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;"> &lt;C typelist=[]>지미 카터&lt;/C>는 &lt;C typelist=[]>조지아 주 섬터 카운티 플레인스 마을&lt;/C>에서 … </span>
                    </p></td>
            </tr>
                </tbody>
                </table>
                </p>

            </div>

        </div>

    </div>

</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1" id="page_api2" style="display: none;">
        <div id="contents">

            <div class="con_area">

                <div class="bg_area ng-scope" align="center">
                    <h3>영어/한국어 개념간 유사도 계산기</h3>
                    <a href="http://irel.kaist.ac.kr:8100/api/v1/kcg"><button type="button" class="btn btn-primary btn-lg">API</button></a>
                    <a href="./static/conceptism_eng.zip" download="conceptism_eng.zip"><button type="button" class="btn btn-danger btn-lg">소스코드(영어)</button></a>
                    <a href="./static/conceptism_kr.zip" download="conceptism_kr.zip"><button type="button" class="btn btn-danger btn-lg">소스코드(한국어)</button></a>
                </div>

                <tbody class="writing">
                <p>
                </p>
                <p>
                            <span
                                    style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 12pt;">◆ </span>
                    <strong><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 12pt;">SW 정보</span></strong>
                </p>
                <p style="line-height: 1.8;">
                    <table class="__se_tbl"
                           style="border-width: 1px 1px 0px 0px; border-style: solid solid none none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor currentColor; border-image: none; width: 100%"
                           border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                <p align="center" style="text-align: center;"><strong><span
                        style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">언어</span></strong>
                </p>
                </td>
                <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                    <p align="center" style="text-align: center;"><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">Python</span>
                    </p></td>
                </tr><tr>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                        <p align="center" style="text-align: center;"><strong><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">입력</span></strong>
                        </p>
                    </td>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                        <p align="center" style="text-align: center;"><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">단어 순서쌍쌍</span>
                        </p></td>
                </tr><tr>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                        <p align="center" style="text-align: center;"><strong><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">출력</span></strong>
                        </p>
                    </td>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                        <p align="center" style="text-align: center;"><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">text</span>
                        </p></td>
                </tr><tr>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                        <p align="center" style="text-align: center;"><strong><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">기능</span></strong>
                        </p>
                    </td>
                    <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                        <p align="center" style="text-align: center;"><span
                                style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">개념 간의 의미 유사도 측정 수행</span>
                        </p></td>
                </tr>
                </tbody>
                </table>
                </p>
                <p><br></p>
                <p><span
                        style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 12pt;">◆ </span><strong><span
                        style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 12pt;">입출력 예</span></strong>
                </p>
                <p><strong></strong></p>

                <p style="line-height: 1.8;">
                    <table class="__se_tbl"
                           style="border-width: 1px 1px 0px 0px; border-style: solid solid none none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor currentColor; border-image: none; width: 100%"
                           border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                <p align="center" style="text-align: center;"><strong><span
                        style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">입력 예</span></strong>
                </p>
                </td>
                <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                    <p align="center" style="text-align: center;"><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">(왕, 여왕)</span>
                    </p></td>
                </tr><tr>
                <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 20%; height: 40px; background-color: rgb(235, 235, 235);">
                    <p align="center" style="text-align: center;"><strong><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">출력 예</span></strong>
                    </p>
                </td>
                <td style="border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentColor currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 80%; height: 40px; background-color: rgb(255, 255, 255);">
                    <p align="center" style="text-align: center;"><span
                            style="font-family: &quot;나눔고딕&quot;,NanumGothic,Sans-serif; font-size: 10pt;">0.8</span>
                    </p></td>
            </tr>
                </tbody>
                </table>
                </p>

            </div>

        </div>

    </div>

</div>